@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

body { 
    width: 100%; 
    height: 100%; 
    font-family: 'Roboto', sans-serif; 
    position: relative;
} 

* { 
    box-sizing: border-box;
}  

.telaEntrada {
    background-color: #FFFFFF;  
    width: 100%; 
    height: 100%;
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 1; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
} 

.telaEntrada img { 
    width: 130px;
    height: 92px; 
    margin-bottom: 94px; 
    margin-top: 200px;
} 

.telaEntrada > input { 
    background-color: #FFFFFF; 
    color: #AEAEAE;
    width: 261px; 
    height: 64px; 
    font-weight: 18px; 
    border: 1px solid #D7D7D7; 
    display: flex; 
    text-align: center; 
    margin-bottom: 15px;
} 

.telaEntrada > button { 
    border: none; 
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    border-radius: 9px; 
    font-weight: 18px; 
    color: #696969;
} 

button:hover { 
    cursor: pointer;
}

.cabecalho { 
    height: 80px; 
    width: 100%; 
    background-color: #FFFFFF; 
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.05); 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding-left: 23px; 
    padding-right: 23px;
} 

.cabecalho img:hover { 
    cursor: pointer;
}

.chat { 
    background-color: #f3f3f3; 
    width: 100%; 
    height: 1000px; 
    padding-top: 26px;
}   

span { 
    font-weight: bold; 
    margin-left: 4px; 
    margin-right: 4px;
}

.mensagem { 
    width: 100%; 
    height: 50px; 
    background-color: blue; 
    margin-bottom: 4px;  
    border-radius: 5px; 
    padding-left: 4px; 
    padding-right: 9px; 
    font-weight: 400,medium; 
    font-size: 14px;
    display: flex;  
    align-items: center; 
    flex-wrap: wrap;
} 

.mensagemEntrada { 
    width: 100%; 
    height: 50px; 
    background-color: #DCDCDC; 
    margin-bottom: 4px;  
    border-radius: 5px; 
    padding-left: 4px; 
    padding-right: 9px; 
    font-weight: 400,medium; 
    font-size: 14px;
    display: flex;  
    align-items: center; 
    flex-wrap: wrap;
} 

.escolhaParticipantes { 
    background-color: #00000099;  
    width: 35%; 
    height: 100%;
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 2; 
    display: flex; 
    align-items: center; 
} 

.telaDeEscolha { 
    background-color: rgba(255, 255, 255, 1); 
    width: 65%; 
    height: 100%;
    position: absolute; 
    right: 0; 
    top: 0; 
    z-index: 2; 
} 

.topo { 
    width: 100%; 
    height: 84px; 
    padding-left: 135px;
    padding-right: 140px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
} 

.usuariosAtivos {
    width: 100%; 
    height: 36px;
    display: flex; 
    align-items: center;
} 

.usuariosAtivos .atividade {  
    width: 80%; 
    height: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
} 

.usuariosAtivos img {  
    margin-left: 20px; 
    margin-right: 10px;
    width: 23px; 
    height: 17px;
}

.usuariosAtivos:hover { 
    cursor: pointer;
}

.enviarMensagem { 
    height: 80px; 
    width: 100%; 
    background-color: #FFFFFF; 
    display: flex;  
    align-items: center;
    justify-content: space-between; 
    padding-left: 20px; 
    padding-right: 17px; 
    box-shadow: 0px -4px 6px 0px #0000000D; 
    position: fixed; 
    left: 0px; 
    bottom: 0px;
} 

.enviarMensagem > input {  
    width: 90%;
    font-size: 18px; 
    font-style: italic;
    font-weight: 400,medium; 
    color: #000000; 
    border:none;
} 

.enviarMensagem img:hover { 
    cursor: pointer;
} 

.escondido { 
    display: none;
}